* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
  transition: 0.3s;

  user-select: none;
}

body {
  height: 100vh;
  background-color: #f98a89;
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);
  background-color: #85ffbd;
  background-image: linear-gradient(45deg, #85ffbd 0%, #fffb7d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main {
  padding: 50px 20px;
  border-radius: 5%;
  min-width: 32vw;
  max-width: 32vw;
  box-shadow: rgba(0, 0, 0, 0.95) 0px 25px 30px 0px;
  min-height: 90vh;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

/* title */

.title {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.task_count {
  font-size: 25px;
  font-weight: 700;
  font-family: monospace;

  text-align: center;
}

.remain_count {
  font-size: 20px;
  font-weight: 100;
}

/* / title */

/* data */
.data {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: auto;
}

/* data item */

.data-item {
  padding: 2px;
  width: 95%;
  display: flex;
  min-height: 25%;
  align-items: center;
  justify-content: space-between;
}

.dataname,
.data-check {
  cursor: pointer;
}

.task-name {
  font-size: 20px;
  max-width: 80%;
  color: black;
}

/* not found */
.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

.notfound-txt {
  color: #122348;
  font-weight: 900;
}

/* / not found */

.task-delete {
  background-color: transparent;
  outline: none;
  font-size: 14px;
  color: red;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 25px;
}

.task-delete:hover {
  background-color: red;
  cursor: pointer;
  color: white;
}

.task-delete:active {
  background-color: rgba(255, 0, 0, 0.788);
  cursor: pointer;
  color: white;
}

.task-edit {
  color: green;
}

.task-edit:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}

.task-edit:active {
  background-color: rgba(0, 128, 0, 0.7);
  cursor: pointer;
  color: white;
}
/* /data item */

/* / data */

/* data add */
.data-add {
  width: 95%;
  display: flex;
  gap: 5px;
  color: #122348;
  align-items: center;
  height: 10%;
  justify-content: space-between;
}

.addtoo {
  padding: 10px;
  font-size: 20px;
  outline: none;
  color: green;
  border: 2px solid green;
  border-radius: 15px;
}

.addtoo::placeholder {
  color: green;
  font-style: italic;
}

.add {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: green;
  border: 2px solid white;
  border-radius: 20px;
  padding: 10px 25px;
}

.add:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}

.add:active {
  background-color: rgba(0, 128, 0, 0.808);
  cursor: pointer;
  color: white;
}

/* /data add */

.search {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

.seachbtn {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: green;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 20px;
}

.seachbtn:hover {
  background-color: green;
  cursor: pointer;
  color: white;
}

.seachbtn:active {
  background-color: rgba(0, 128, 0, 0.808);
  cursor: pointer;
  color: white;
}

.search_input {
  padding: 5px 20px;
  width: 80%;
  font-size: 20px;
  outline: none;
  color: green;
  border: 2px solid green;
  border-radius: 15px;
}

.search_input::placeholder {
  color: green;
}
/* /search */

/* Title komponenti */
.title {
  width: 100%;
  height: 15%;
  border-bottom: 1px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: green;
}

/* Task_count komponenti */
.task_count {
  font-size: 40px;
  margin: 15px;
  white-space: nowrap;
}

/* Search komponenti */
.search {
  width: 100%;
  display: flex;
  gap: 5px;
  justify-content: space-around;
}

/* Search_input komponenti */
.search_input {
  padding: 5px 20px;
  width: 80%;
  font-size: 20px;
  outline: none;
  color: green;
  border: 2px solid green;
  border-radius: 15px;
}

/* Search_btn komponenti */
.searchBtn {
  background-color: transparent;
  outline: none;
  font-size: 20px;
  color: green;
  border: 2px solid transparent;
  border-radius: 20px;
  padding: 5px 20px;
}

/* MainDate komponenti */
.mainDate {
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;

  flex-direction: column;
  overflow: auto;
}

/* DateAdd komponenti */

/* DateAdd__input komponenti */
#addInput {
  width: 75%;
  padding: 8px;
  font-size: 20px;
  outline: none;
  color: green;
  border: 2px solid green;
  border-radius: 15px;
}

/* DateAdd__btn komponenti */

/* NotFound komponenti */
.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

/* Date__item komponenti */
.task-item {
  padding: 2px;
  width: 95%;
  display: flex;
  min-height: 25%;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
}

.textItem {
  font-size: 18px;
  width: 170px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

.main {
  padding: 50px 30px !important;
}

.checkck {
  cursor: pointer;
}

.editInput {
  height: 25px;
  width: 50%;
  font-size: 16px;
  border-radius: 6px;
  border: 1px solid black;
  padding-left: 6px;
}

.addWrap {
  display: flex;
  justify-content: space-between;
}
